.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
/app/app.iml
/app/new_code.iml
/settings.gradle
/gradle.properties
/gradle.wrapper
/gradlew
/gradlew.bat
